.contenar{
  background-color: #f8f9fa;
}
.form-container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
